#footer {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background-color: $color-beaver;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.64);
    justify-content: center;
    img {
        width: 15%;
        &:hover {
            transform: rotate(360deg);
            transition-duration: 3s;
        }
    }
    .footer-media {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .direction {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i {
                display: none;
            }
            button {
                margin: 15px;
                font-size: 0.75rem;
            }
        }
        .suscribe-newsletter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .social-media {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        p {
            margin: 10px 0px 0px 0px;
            font-weight: 700;
        }
        i {
            font-size: 2rem;
            color: #333;
            padding: 8px ;
        }
        a {
            text-decoration: none;
            color:#0c1104;
        }
        input {
            padding: 5px;
            margin: 5px;
            background-color: #6c6966;
            color: #fff;
            border: none;
            border-radius: 5px;
            &:hover {
                background-color: $color-sgbusgreen;
            }
            &::placeholder {
                color: #ffffff51;
            }
        }
    }
}

@media only screen and (min-width:768px) {
    #footer {
        img {
            width: 5rem;
        }
        .footer-media {
            flex-direction: row;
            #email-newsletter {
                width: 350px;
            }
        }
        i {
            display: inline-block !important;
            &:hover {
                color: $color-sgbusgreen;
                transform: scale(1.5);
                transition-duration: 0.5s ;
            }
        }
    }
}
