@import '../utilities/variables';

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: $color-dun;
    color: $color-eerieblack;
}

section {
    margin: 20px 0px;
    padding: 10px;
    box-shadow: $box-shadow;
}
