.about-us {
    text-align: center;
    padding: 20px;
    p {
        margin-top: 20px;
    }
    .button {
        padding: 5px;
        margin: 5px;
        background-color: $color-dimgray;
        color: #fff;
        border-color: none;
        border-radius: 5px;
        &:hover {
            background-color: $color-sgbusgreen;
        }
    }
}
.characteristics-section {
    .benefits, .user-experience {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        font-weight: 700;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 5px 10px;
    }
}

@media only screen and (min-width:768px) {
    .characteristics-section {
        text-align: center;
        img:hover {
            transform: rotateX(360deg);
            transition-duration: 3s;
            transition-delay: 0.2s;
        }
        h4 {
            font-size: 2rem;
        }
        .benefits, .user-experience{
            padding: 50px;
            font-size: 1.5rem;
        }
    }
}
